.App {
  max-width: 480px;
}
.todo-list {
  width: 100%;
}

.todo-input-box {
  display: flex;
}
.todo-input {
  flex: 1;
}

.todo-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.todo-item button {
  margin-left: auto;
}
